html
{
    scroll-behavior: smooth;
}

.result-box ul
{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li
{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover
{
    background: #e9f3ff;
}